* {
    box-sizing: border-box;
}

html,
body {
    color: #99a0b0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f5f5fa;
    font-size: 16px;
    line-height: 120%;
    font-family: Open Sans, Helvetica, sans-serif;
}

.dashboard {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 0;
    grid-template-columns: 300px auto;
    grid-template-rows: 80px auto;
    grid-template-areas: 'menu search' 'menu content';
}

.search-wrap {
    grid-area: search;
    background: #fff;
    border-bottom: 1px solid #ede8f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
}

.search {
    height: 40px;
}

.search label {
    display: flex;
    align-items: center;
    height: 100%;
}

.search svg {
    display: block;
}

.search input {
    display: block;
    padding-left: 1em;
    height: 100%;
    margin: 0;
    border: 0;
}

.search input:focus {
    background: #f5f5fa;
}

.search label:hover svg {
    fill: #2c3451;
}

.user-actions button {
    border: 0;
    background: none;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    margin-left: 0.5em;
}

.user-actions button svg {
    position: relative;
    top: 2px;
}

.user-actions button:hover svg {
    fill: #2c3451;
}

.menu-wrap {
    grid-area: menu;
    padding-bottom: 3em;
    overflow: auto;
    background: #fff;
    border-right: 1px solid #ede8f0;
}

.user {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0 3em;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.user-avatar img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figcaption {
    margin: 0;
    padding: 0 0 0 1em;
    color: #1b253d;
    font-weight: 700;
    font-size: 0.875em;
    line-height: 100%;
}

nav {
    display: block;
    padding: 0 3em;
}

h3 {
    margin: 0;
    font-size: .875em;
    text-transform: uppercase;
    color: #4b84fe;
    font-weight: 600;
}

ul {
    display: block;
    padding: 0;
    margin: 0;
}

li {
    display: block;
    padding: 0;
    margin: 1em 0 0;
}

a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #99a0b0;
    text-decoration: none;
    font-weight: 600;
    font-size: .875em;
    transition: color .15s ease;
}

a:hover {
    color: #1b253d;
}

a.active {
    color: #4b84fe;
}

.content-wrap {
    grid-area: content;
    padding: 3em;
    overflow: auto;
}

.content-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 1.375em;
    line-height: 100%;
    color: #1b253d;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.action button {
    border: 0;
    background: #4b84fe;
    color: #fff;
    width: auto;
    height: 3.5em;
    padding: 0 2.25em;
    border-radius: 3.5em;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color .15s ease;
}

.action button:hover {
    background-color: #3f6cdb;
}

.info-boxes {
    padding: 3em 0 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 2em;
}

.info-box {
    background: #fff;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 3em;
    border: 1px solid #ede8f0;
    border-radius: 5px;
}

.info-box svg {
    display: block;
    width: 48px;
    height: 48px;
}

.info-box .big {
    display: block;
    font-size: 2em;
    line-height: 150%;
    color: #1b253d;
}

.person-boxes {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 2em;
}

.person-box {
    background: #fff;
   
    text-align: center;
    padding: 10px;
    border: 1px solid #ede8f0;
    border-radius: 5px;
}

.box-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
}

.box-avatar .no-name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
}

.box-bio .bio-name {
    margin: 2em 0 .75em;
    color: #1b253d;
    font-size: 1em;
    font-weight: 700;
    line-height: 100%;
}

.box-bio .bio-position {
    margin: 0;
    font-size: .875em;
    line-height: 100%;
}

.box-actions {
    margin-top: 1.25em;
    padding-top: 1.25em;
    width: 100%;
    border-top: 1px solid #ede8f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-actions button {
    border: 0;
    background: none;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
}

.box-actions button svg {
    position: relative;
    top: 2px;
}

.box-actions button:hover svg {
    fill: #2c3451;
}
